.background {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.back{
    background-color: #fff;
    border-radius: 2px;
}

.modal {
    margin: auto;
    margin-top: 2.5rem;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}